{% extends "base.html" %}

{% block content %}
  <form hx-post="{% url 'todos:create' %}" hx-target="#task_list" hx-swap="beforeend">
    {% csrf_token %}

    {% for field in form %}
      <div class="mb-3">
        <label for="{{ field.auto_id }}">{{ field.label }}</label>
        {{ field }}
      </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  {% if task_list %}
      <ul id="task_list">
      {% for task in task_list %}
        {% include 'snippets/task.html' %}
      {% endfor %}
      </ul>
  {% else %}
      <p>No todos are available.</p>
  {% endif %}
{% endblock content %}

{% comment %} TODO: Add deadline {% endcomment %}
<div class="mb-3">
  <label for="task_deadline" class="form-label">Task Deadline</label>
  <input type="date" class="form-control" id="task_deadline" name="task_deadline">
</div>
