{% extends "base.html" %}

{% block content %}
  <div class="container">
    {% if task_list %}
      <div class="row mb-2 fw-bold">
        <div class="col">Description</div>
        <div class="col">Status</div>
        <div class="col">Actions</div>
      </div>
      <div 
        hx-get="{% url 'todos:task-create' %}" 
        hx-trigger="load"
        hx-target="this"
        hx-swap="outerHTML"
      ></div>
      {% for task in task_list %}
        {% include 'snippets/task.html' %}
      {% endfor %}
    {% else %}
      <p>No todos are available.</p>
    {% endif %}
  </div>
{% endblock content %}

{% comment %} TODO: Add deadline {% endcomment %}
<div class="mb-3">
  <label for="task_deadline" class="form-label">Task Deadline</label>
  <input type="date" class="form-control" id="task_deadline" name="task_deadline">
</div>
