<div class="row mb-2">
  <div class="col text-break">{{ task }}</div>
  <div class="col">
    {% if task.is_completed %}
      Completed
    {% else %}
      Pending
    {% endif %}
  </div>
  <div class="col">
    {{task.due_date}}
  </div>
  <div class="col">
    <button 
      hx-get="{% url 'todos:task-update' task.id %}"
      hx-target="closest div.row"
      hx-swap="outerHTML"
      class="btn btn-secondary" 
      type="button"
    >
      Edit
    </button>
    <button 
      hx-delete="{% url 'todos:task-delete' task.id %}"
      hx-target="closest div.row"
      hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
      hx-confirm="Are you sure you wish to delete?"
      class="btn btn-danger" 
      type="button"
    >
      Delete
    </button>
  </div>
</div>
